body {
    color: black;
    font-family: Arial, sans-serif;
    background-image: url("images.png");
}

.tabel {
    background-color: black;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }